@font-face {
  font-family: 'SFProDisplay';
  src: url('./assets/fonts/SFProDisplay-Regular.woff') format('woff'),
  url('./assets/fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplaySemibold';
  src: url('./assets/fonts/SFProDisplay-Semibold.woff') format('woff'),
  url('./assets/fonts/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplayBold';
  src: url('./assets/fonts/SFProDisplay-Bold.woff') format('woff'),
  url('./assets/fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplayBlack';
  src: url('./assets/fonts/SFProDisplay-Black.woff') format('woff'),
  url('./assets/fonts/SFProDisplay-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, html{
  height: 100%;
}
#app{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}

.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}
.mt-40{
  margin-top: 40px;
}

h1{
  font-size: 38px;
  &.base-font-face{
    font-size: 38px;
  }
}

.base-font-face{
  font-family: 'SFProDisplay';
  font-weight: 400;
  letter-spacing: 0.01rem;
}
.base-color{
  color: #868686;;
}
.link{
  color: #2fabff;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    color: #2fabff;
  }
}
.bold{
  font-family: 'SFProDisplayBold';
  font-weight: 600;
}
.black{
  font-family: 'SFProDisplayBlack';
  font-weight: 800;
}
.top-bottom-bar{
  background-color: #182D40;
  color: #9AB5CE;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  padding: 8px 0;
}

.breadcrumbs{
  color: #868686;
  &-active{
    font-family: 'SFProDisplaySemibold';
    color: #182D40;
    font-weight: 500;
  }
  .icon{
    margin-left: 5px;
    margin-right: 9px;
  }
}
.reg-form{
  .select, .form-group{
    position: relative;
  }
  .select label,
  .form-control + label{
    position: absolute;
    top: 15px;
    left: 16px;
    font-family: 'SFProDisplay';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: #868686;
    margin-bottom: 0;
  }
  .vs__dropdown-toggle,
  .form-control{
    height: 50px;
    padding: 10px 10px 0 24px;
    border: 1px solid #DCDCDC;
    border-radius: 2px;
    line-height: 1;
    font-family: 'SFProDisplay';
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #182D40;
  }
  .vs__dropdown-toggle{
    padding-top: 0;
  }
  .vs--single.vs--open {
    .vs__selected{
      display: none;
    } 
  }
  .vs__selected-options{
    padding-top: 10px;
  }
  .form-control{
    &:focus{
      height: 50px;
      color: #182D40;
    }
  }

  .select .vs--open + label, .form-control.focus-visible + label{
    top: 5px;
    font-size: 12px;
  }
  .select label.not-empty, label.not-empty{
    top: 5px;
    font-size: 12px;
  }
  .vs__selected{
    margin: 0;
    padding: 0;
  }
  .vs__dropdown-option{
    color: #868686;
  }
  .vs__dropdown-option--highlight{
    background: transparent;
  }
  .vs__dropdown-option--highlight{
    .select-title,
    .select-text{
      font-family: 'SFProDisplayBold';
      font-weight: 600;
      color: #182D40;
    }
  }
  .select-title,
  .select-text{
    font-family: 'SFProDisplay';
    font-weight: 400;
  }
  .select-title{
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #868686;
  }
  .select-text{
    font-size: 12px;
  }
  .vs--open .vs__dropdown-toggle,
  .select .vs--open .vs__dropdown-menu{
    border-left: 2px solid #819BB4;
    border-right: 2px solid #819BB4;
  }

  .select{
    .vs--open{
      border-top: 2px solid #819BB4;
      .vs__dropdown-menu{
        border-bottom: 2px solid #819BB4;
      }
    }
  }
  .vehicleTypeSub-wrap{
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
  }
  .vehicleTypeSub{
    padding: 16px 20px 16px 67px;
    border-bottom: 1px solid #DCDCDC;
    .custom-control-label{
      font-family: 'SFProDisplay';
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.01em;
      color: #868686;
      cursor: pointer;
      &:before,
      &:after{
        width: 17px;
        height: 17px;
        top: calc(50% - 10px);
        left: -37px;
      }
    }
    &.coloredGroup{
      background: #EAF7FF;
      border: 1px solid #2FABFF;
      .custom-control-label{
        color: #182D40;
        font-family: 'SFProDisplaySemibold';
        font-weight: 500;
      }
    }
  }
  .custom-control-input{
    &:checked {
      &~ .custom-control-label{
        &:before{
          background-color: #9AB5CE;
          border-color: transparent;
          outline: none;
          box-shadow: none;
          transition: none;
        }
        &:after{
          background-size: 40%;
          border-color: transparent;
        }
      }
    }
  }
  .inputGroup{
    margin-bottom: 12px;
  }
}
.addMore-wrap{
  border: 1px solid #DCDCDC;
  border-radius: 6px;
  padding: 20px;
  margin-top: 60px;
  .icon{
    border: 1px solid #DCDCDC;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin-right: 9px;
  }
}
.continue{
  margin-top: 50px;
  margin-bottom: 100px;
  &.btn-success{
    background-color: #29A30B;
    border-radius: 2px;
    padding: 7px 32px;
    &:hover{
      background-color: #29A30B;
    }
  }
}